runpod==1.7.13
requests==2.32.5
boto3==1.42.4
git+https://github.com/linoytsaban/diffusers.git@wan22-loras
transformers<5
accelerate
safetensors
sentencepiece
peft
ftfy
imageio
imageio-ffmpeg
opencv-python-headless
torchao==0.11.0
numpy>=1.16,<=1.23.5
torchvision
tqdm
